In [2]:
empty_tuple = ()
print(empty_tuple)
x = tuple()
print(x)

()
()

In [3]:
my_tuple = (10, 20, 30, 40, 50)
first_element = my_tuple[0]
print("First element:", first_element)
third_element = my_tuple[2]
print("Third element:", third_element)

First element: 10
Third element: 30

In [5]:
# Positive indexing
my_tuple = (10, 20, 30, 40, 50)
first_element = my_tuple[0]
print(first_element)
second_element = my_tuple[1]
print(second_element)

# Negative indexing
d = (10, 20, 30, 40, 50)
last_element = d[-1]
print(last_element)
second_last_element = d[-2]
print(second_last_element)

10
20
50
40

In [6]:
my_tuple = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)
sorted_list = sorted(my_tuple)
sorted_tuple = tuple(sorted_list)
print(sorted_tuple)

(1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9)

In [7]:
my_tuple = (1, 2, 3, 4, 5)
if 3 in my_tuple:
    print("Element 3 exists in the tuple.")
else:
    print("Element 3 does not exist in the tuple.")

Element 3 exists in the tuple.